*{
    padding:0px;
    margin:0px;
}/*CSS reset*/
span{
    font-size:2rem;
}
.T01 {
    width:500px;
    display: inline-block;
    position: relative;
    left: 400px;
    transition:.3s;
}
    .T01 a {
        position:relative;
        right:0;
        font-size: 0px;
        display: inline;
        padding: 5px;
    }
    .T01 a img {
        height: 20px;
        width: 20px;
    }
    .T01 input {
        position: relative;
        right: 0px;
        transform: scaleX(0);
        background-color: #fff;
        border: none;
        font-size: 27px;
        margin-left: 5px;
        outline: none;
    }

.click input {
    transform: scaleX(1);
    transition:.3s;
}
/*.click {
    left: 200px;
    transition: .3s;
}*/